extends layout.pug

block title
  title Covoituride

block content
    .topBloc
      a.a1(href='/home.html') Home
      a.a2(href='/searchRides.html') Search for a Ride
      a.a4(href='/logout.html') Log Out
    .leftBloc
      form(action='/quickSearchRides.html', method='post')
        p Quick search by departure town :
        input(style='width:80%; margin-left:5px; margin-bottom:3px;', type='text', name='search')
        input(style='margin-left:5px;', type='submit', value='Search rides')
      a(href='/myProfile.html', style='color:white; text-decoration:none;')
        p My profile
      a(href='/proposeARide.html', style='color:white; text-decoration:none;')
        p Propose A Ride
      a(href='/proposedRides.html', style='color:white; text-decoration:none;')
        p My proposed rides
      a(href='/subscribedRides.html', style='color:white; text-decoration:none;')
        p My subscribed rides
      a(href='/searchRides.html', style='color:white; text-decoration:none;')
        p Search for rides
      a(href='/searchRiders.html', style='color:white; text-decoration:none;')
        p Search for riders
      a(href='/aboutCovoituride.html', style='color:white; text-decoration:none;')
        p About covoituride
    .bodyBloc
      p Covoituride est un outil en ligne d&apos;aide a la recherche de covoiturage.
      p Les utilisateurs inscrits peuvent rechercher et proposer des trajets aux autres utilisateurs.
      p Covoituride a ete developpe par un etudiant de l&apos;UCL dans le cadre d&apos;un projet.
      p ----------------------------------------------------------------------------------------
      p Pour s'inscrire, un utilisateur doit de préférence rentrer toutes les informations demandées.
      p Son nom d'utilisateur sera accepté dans tous les cas sauf si un nom d'utilisateur équivalent
      p est déjà utilisé par un autre utilisateur inscrit.
      p Son mot de passe ne doit répondre à aucune sécurité, l'utilisateur sera le seul garrant de son efficacité
      p ----------------------------------------------------------------------------------------
      p Pour proposer un trajet, l'utilisateur doit être inscrit et connecté sur le site.
      p Il doit de préférence rentrer toutes les informations demandées à propos du trajet,
      p Sinon les autres utilisateurs n'auront qu'une partie des informations et ne pourront pas
      p Trouver correctement les trajets qui leurs sont souhaitables.
      p ----------------------------------------------------------------------------------------
      p Un utilisateur ne peut, pour le moment, pas retirer ses propositions de trajets
      p Ni se dés-inscrire d'un trajet en tant que passager. Il est dès lors demandé aux utilisateurs
      p De ne pas proposer de trajet à la légère ni s'inscrire sans raison aux trajets proposés.
      p ----------------------------------------------------------------------------------------
      p Un utilisateur peut, s'il le souhaite, voter pour ou contre un utilisateur.
      p Cette fonction a pour but d'établir une sorte de critère de confiance envers les
      p Conducteurs et passagers. Un utilisateur ne pourra pas voter plusieurs fois
      p Pour un même autre utilisateur.
      p ----------------------------------------------------------------------------------------
      p Le menu sur la gauche est un exemple du menu auquel l'utilisateur connecté peut acceder 
