extends layout.pug

block title
  title Covoituride

block content
    .topBloc
      a.a1(href='/home.html') Home
      a.a2(href='/searchRides.html') Search for a Ride
      a.a3(href='/signup.html') SignUp
      a.a4(href='/login.html') Login
    .leftBloc
      a(href='/aboutCovoituride.html', style='color:white; text-decoration:none;')
        p About covoituride
    .bodyBloc
      h1 Bienvenue sur covoituride !
        p Veuillez vous connecter pour commencer à utiliser le site.
      if error
        div= error
