extends layout.pug

block title
  title My profile

block content
    .topBloc
      a.a1(href='home.html') Home
      a.a2(href='searchRides.html') Search for a Ride
      a.a3(href='signup.html') SignUp
    .unsplit_bodyBloc
      form(action='/login.html', method='post')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Username:
          input(type='text', name='username')
        div(style='padding-bottom:5px;')
          label Password :
          input(type='password', name='password')
        div(style='padding-bottom:5px;')
          input(type='submit', value='Log In')
        if error
          div= error
        if message
          div= message
