extends layout.pug

block title
  title Propose a ride

block content
    .topBloc
      a.a1(href='home.html') Home
      a.a2(href='searchRides.html') Search for a Ride
      a.a3(href='logout.html') Log Out
    .leftBloc
      form(action='#')
        p Quick searche by town :
        input(style='width:80%; margin-left:5px; margin-bottom:3px;', type='text', name='search')
        input(style='margin-left:5px;', type='submit', value='search')
      a(href='myProfile.html', style='color:white; text-decoration:none;')
        p My profile
      a(href='proposeARide.html', style='color:white; text-decoration:none;')
        p Propose A Ride
      a(href='proposedRides.html', style='color:white; text-decoration:none;')
        p My proposed rides
      a(href='subscribedRides.html', style='color:white; text-decoration:none;')
        p My subscribed rides
      a(href='searchRides.html', style='color:white; text-decoration:none;')
        p Search for rides
      a(href='searchRiders.html', style='color:white; text-decoration:none;')
        p Search for riders
      a(href='aboutCovoituride.html', style='color:white; text-decoration:none;')
        p About covoituride
    .bodyBloc
      form(action='/proposeARide.html', method='post')
        p Fill up the form in order to signup
        div(style='padding-bottom:5px;')
          label Departure town:
          input(type='text', name='departure')
        div(style='padding-bottom:5px;')
          label Pick up place :
          input(type='text', name='pickUpPlace')
        div(style='padding-top:40px; padding-bottom:5px;')
        label Mid-Ride pick up:
        select(name='midRideTakeOff')
            option(value='Yes') Yes
            option(value='No', selected='') No
        div(style='padding-top:40px; padding-bottom:5px;')
          label Arrival town:
          input(type='text', name='arrival')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Date:
          input(type='text', name='date', id='datepicker')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Car Model:
          input(type='text', name='carModel')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Number of Seats:
          select(name='maxSeats')
            option(value='1') one
            option(value='2') Two
            option(value='3') Three
            option(value='4') Four
            option(value='5') Five
            option(value='6') Six
        div(style='padding-top:40px; padding-bottom:5px;')
          label Price:
          input(type='number', name='price')
        div(style='padding-top:40px; padding-bottom:5px;')
          label Stops:
          input(type='text', name='stops')
        div(style='padding-bottom:5px;')
          input(type='submit', value='Submit')
        if error
          div= error
