doctype html
html
  head
    title subscribedRides
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .title
      p
        br
        | Covoituride
        br
    .topBloc
      a.a1(href='homeUnlogged.html') Home
      a.a2(href='searchRides.html') Search for a Ride
      a.a3(href='logout.html') Log Out
    .leftBloc
      form(action='#')
        p Quick searche by town :
        input(style='width:80%; margin-left:5px; margin-bottom:3px;', type='text', name='search')
        input(style='margin-left:5px;', type='submit', value='search')
      a(href='myProfile.html', style='color:white; text-decoration:none;')
        p My profile
      a(href='proposeARide.html', style='color:white; text-decoration:none;')
        p ProposeARide
      a(href='proposedRides.html', style='color:white; text-decoration:none;')
        p My proposed rides
      a(href='subscribedRides.html', style='color:white; text-decoration:none;')
        p My subscribed rides
      a(href='searchRides.html', style='color:white; text-decoration:none;')
        p Search for rides
      a(href='searchRiders.html', style='color:white; text-decoration:none;')
        p Search for riders
      a(href='aboutCovoituride.html', style='color:white; text-decoration:none;')
        p About covoituride
    .bodyBloc
      p See your subscribed rides here
      p Loads user&apos;s subscribed rides, see if information about it changed
      p Allow user to see other users that are in the ride&apos;s profile
